<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h2 class="tableTitle">Purchases</h2>

<table class="table table-striped table-dark align-middle container">

    <p th:text="${total}"></p>

    <thead>
    <tr>
        <th>Purchase ID</th>
        <th>Movie Title</th>
        <th>Movie ID</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="purchase : ${purchaseList}">
        <td th:text="${purchase.id}"></td>
        <td th:text="${purchase.movie.title}"></td>
        <td th:text="${purchase.movie.id}"></td>
    </tr>
    <a th:href="'/homePage'"><button class="startSida">Startsida</button></a>
    </tbody>
</table>

</body>
