<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h2 class="tableTitle">Purchases</h2>

<table class="table table-striped table-dark align-middle container">

    <p th:text="${count}"></p>

    <thead>
    <tr>
        <th>Purchase ID</th>
        <th>Produkter</th>
        <th>Customer ID</th>
        <th>Movie Title</th>
        <th>Movie ID</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="purchase : ${purchaseList}">
        <td th:text="${purchase.id}"></td>

        <td th:if="${purchase.movie != null}">
            <span th:text="${purchase.movie.title}"></span>
            <span th:text="${purchase.movie.id}"></span>
        </td>

        <td th:if="${purchase.snack != null}">
            <span th:text="${purchase.snack.name}"></span>
            <span th:text="${purchase.snack.id}"></span>
        </td>
    </tr>

    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a th:href="'/homePage'"><button>Startsida</button></a>
</div>
</body>
